:root {
  --black: #1c2225;
  --white: #fcf9f9;
  --yellow: #ecd979;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--black);
  color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
input,
textarea,
button {
  font-family: inherit;
}
button {
  padding: 0;
  cursor: pointer;
}
.container {
  max-width: 1440px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container .container {
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav-list,
.address-container {
  display: none;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container-right {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.hidden-menu {
  position: absolute;
  z-index: 999;
  width: 274px;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden-menu-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--yellow);
  background-image: url(../images/background-ornament-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.burger-close-btn {
  width: 36px;
  height: 36px;
  border: transparent;
  background-color: transparent;
}

.close-icon {
  position: relative;
}

.close-icon::after,
.close-icon::before {
  width: 24px;
  height: 2px;
  background-color: var(--black);
}

.close-icon::after,
.close-icon::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
}

.close-icon::after {
  transform: rotate(135deg);
}

.close-icon::before {
  transform: rotate(-135deg);
}
.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-address-container {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}
.burger-address-link {
  font-size: 12px;
  line-height: 1.17;
  font-style: normal;
  color: var(--black);
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.burger-nav-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
  color: var(--black);
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
}
.social-media-list {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  margin-right: 12px;
}

.social-media-list .social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(252, 249, 249, 0.1);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .navigation-bg {
    background-image: url(../images/background-ornament-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
  .burger-menu .icon {
    width: 44px;
    height: 30px;
  }
  .social-media-list {
    margin-right: 20px;
  }
  .hidden-menu {
    width: 380px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navigation-bg {
    background-image: url(../images/background-ornament-tablet.png);
  }
  .burger-address-container {
    padding: 14px 28px;
  }
  .burger-address-link {
    font-size: 14px;
    line-height: 1.43;
  }
  .burger-close-btn {
    width: 44px;
    height: 44px;
  }
  .close-icon::after,
  .close-icon::before {
    width: 30px;
    left: -14px;
  }
  .mobile-menu-top {
    align-items: flex-start;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .navigation-bg {
    background-image: url(../images/background-ornament-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }
  .header-container .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .burger-menu {
    display: none;
  }
  .menu-list {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
  }
  .logo {
    margin-right: 60px;
    flex-shrink: 0;
  }
  .social-media-list {
    margin-right: 0;
  }
  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.29;
    display: inline-block;
    padding: 17px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--yellow);
  }

  .address-container {
    display: inline-block;
  }
  .address-link {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 15px;
    margin-right: 20px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    font-size: 14px;
    font-style: normal;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    border-color: var(--yellow);
  }
  .social-media-list .social-media-link {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-list .social-media-link:hover,
  .social-media-list .social-media-link:focus {
    background-color: transparent;
    border-color: var(--yellow);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}

/* Hero */

.hero-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero-title {
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  font-weight: 400;
}
.hero-title span {
  color: var(--yellow);
}
.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: -0.04em;
  margin: 20px auto 40px;
  max-width: 155px;
  cursor: pointer;
}
.icon-order {
  fill: var(--yellow);
}
.star-cont,
.hero-map {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .hero-container {
    position: relative;
  }
  .hero-title {
    max-width: 549px;
    margin-top: 26px;
  }
  .star-cont {
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    max-width: 115px;
  }
  .icon-star {
    fill: var(--yellow);
    display: block;
    margin: 0 auto 16px;
  }
  .star-cont p {
    line-height: 1.37;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
  }
  .order-button {
    padding: 14px 39px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 141px;
    max-width: 168px;
  }
  .hero-map {
    display: block;
    position: absolute;
    bottom: -100px;
    right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 75px;
  }
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 40px;
  }
  .hero-title {
    max-width: 518px;
    margin-top: 0px;
  }

  .star-cont {
    top: 14px;
  }
  .order-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button:hover,
  .order-button:focus {
    border-color: var(--yellow);
  }

  .order-block-text {
    margin-top: 94px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    max-width: 630px;
    font-size: 64px;
    line-height: 1.16;
  }
  .star-cont {
    top: 66px;
  }
  .order-block-text {
    margin-top: 66px;
  }
}

/* About */
.about-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-container .container {
  position: relative;
}
@media screen and (min-width: 375px) {
  .bg-about {
    position: absolute;
    right: -20px;
    bottom: -62px;
    width: 250px;
    height: 408px;
    background-image: url(../images/about/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .bg-about {
    background-image: url(../images/about/about-bg@2x.png);
  }
}
.about-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.38;
  margin-bottom: 40px;
}
.about-text {
  font-size: 14px;
  line-height: 1.37;
  letter-spacing: -0.04em;
  font-weight: 400;
  color: rgba(252, 249, 249, 0.4);
}
.about-text:first-of-type {
  margin-bottom: 20px;
}
.about-text:last-of-type {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .about-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bg-about {
    right: -32px;
    bottom: -50px;
    width: 369px;
    height: 484px;
    background-image: url(../images/about/about-bg-tablet.png);
  }
  .about-title {
    font-size: 44px;
    line-height: 1.45;
  }
  .about-text {
    font-size: 16px;
  }
  .about-text:first-of-type {
    margin-bottom: 20px;
  }
  .about-text:last-of-type {
    margin-bottom: 40px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .bg-about {
    background-image: url(../images/about/about-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .about-container {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .about-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bg-about {
    right: -100px;
    bottom: -80px;
    width: 385px;
    background-image: url(../images/about/about-bg-desktop.png);
  }
  .about-text:last-of-type {
    margin-bottom: 0;
  }
  .about-text {
    max-width: 436px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .bg-about {
    background-image: url(../images/about/about-bg-desktop@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-about {
    width: 545px;
    background-image: url(../images/about/about-bg-large-desktop.png);
  }
  .about-text {
    max-width: 481px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .bg-about {
    background-image: url(../images/about/about-bg-large-desktop@2x.png);
  }
}

/*Your order */

.order-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.order-text {
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin-bottom: 40px;
}
.order-text span {
  color: var(--yellow);
}
.textarea-field,
.input-field {
  display: block;
  padding: 14px 16px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field:hover,
.textarea-field:focus,
.input-field:hover,
.input-field:focus {
  border-color: var(--yellow);
}

.input-field {
  height: 47px;
  margin-bottom: 20px;
}

.input-field,
.textarea-field,
.input-field::placeholder,
.textarea-field::placeholder {
  font-size: 14px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: (252, 249, 249, 0.5);
}
.form-label .input-field,
.form-label .textarea-field {
  color: var(--white);
}

.textarea-field {
  height: 196px;
  resize: none;
  margin-bottom: 40px;
  padding-bottom: 0px;
}
.your-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 36px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: -0.04em;
  margin: 0 auto;
  max-width: 155px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.your-order-button:hover,
.your-order-button:focus {
  border-color: var(--yellow);
}

.form-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .order-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .order-container .container {
    position: relative;
  }

  .order-text {
    font-size: 44px;
    line-height: 1.32;
    max-width: 542px;
  }
  .textarea-field,
  .input-field {
    max-width: 508px;
  }
  .input-field {
    height: 50px;
  }

  .input-field,
  .textarea-field,
  .input-field::placeholder,
  .textarea-field::placeholder {
    font-size: 16px;
  }
  .your-order-button {
    padding: 14px 39px;
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 100px;
    max-width: 168px;
  }
  .form-image {
    display: block;
  }
  .form-cont-bg {
    position: absolute;
    left: -32px;
    bottom: -79px;
    width: 323px;
    height: 484px;
    background-image: url(../images/yourorder/form-bg-tablet.png);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .form-cont-bg {
    background-image: url(../images/yourorder/form-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .order-container .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }
  .order-container {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .your-order-button {
    margin-left: 0;
    margin-bottom: 0;
  }
  .form-cont-bg {
    left: -100px;
    bottom: -119px;
    width: 524px;
    height: 521px;
    background-image: url(../images/yourorder/form-bg-desktop.png);
  }
}
@media screen and (min-width: 1440px) {
  .order-text {
    max-width: 666px;
  }
  .form-cont-bg {
    bottom: -119px;
    width: 325px;
    height: 484px;
    background-image: url(../images/yourorder/form-bg-large-desktop.png);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .form-cont-bg {
    background-image: url(../images/yourorder/form-bg-large-desktop@2x.png);
  }
}
/* Testimonals */
.testimonials-block {
  padding-top: 40px;
  padding-bottom: 40px;
}
.testimonials-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.38;
  margin-bottom: 60px;
}
.testimonals-item {
padding: 54px 18px 18px 18px;
border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 4px;
position: relative;
}
.testimonals-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonals-item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;;
}
.testimonals-text {
  font-size: 14px;
  line-height: 1.37;
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  letter-spacing: 0.01em;
}
.testimonals-item:nth-child(2n),
.testimonals-item:last-of-type {
  display: none;
}
@media screen and (min-width: 768px) {
  .testimonials-block {
    padding-top: 50;
    padding-bottom: 50px;
  }
  .testimonals-list {
    display: flex;
    column-gap: 32px;
  }

  .testimonials-title {
    font-size: 44px;
    line-height: 1.45;
    margin-bottom: 64px;
    text-align: left;
  }
  .testimonals-item {
  width: calc((100%-32px)/2);
  }
  .testimonals-text {
    font-size: 16px;
  }
  .testimonals-item:nth-child(2n) {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials-block {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .testimonals-list {
    column-gap: 26px;
  }

  .testimonals-item {
  width: calc((100%-52px)/3);
  }

.testimonals-item:last-of-type {
  display: block;
}
}
